#LOCAL
MODEL_ID=ollama/llama3.2:3b
BASE_URL=http://localhost:8321
API_KEY=not-needed

## RHOAI
#BASE_URL=
#API_KEY=
#MODEL_ID=
#PORT=

## Deployment Configuration (for OpenShift/Kubernetes)
#CONTAINER_IMAGE=